:root {
  --primary-color: #4b4033;
  --secondary-color: #FF8C00;
  --accent-color: #743e00;
  --light-color: #ffedda;
  --shadow: #743e0020;
  --transparent: #ffedda00;
  --body-font: Roboto, sans-serif;
  --heading-font: Arial Black;
  --accent-font: Arial;
  font-size: 16px;
}

body {
  background-image: url('./assets/Team\ Background.png');
  font-family: var(--body-font);
  line-height: 1.5;
  color: var(--primary-color);
}

h1 {
  letter-spacing: -.1rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--heading-font);
  text-shadow: 1px 1px 2px var(--accent-color);
  color: var(--secondary-color);
  margin-bottom: 1.75rem;
}

h2 {
  letter-spacing: -.05rem;
  color: var(--accent-color);
  font-weight: bold;
  font-family: var(--heading-font);
  text-shadow: 1px 1px 2px var(--secondary-color);
}

form {
  padding: .5rem;
  border-radius: .5rem;
  background: var(--shadow);
}

table {
  padding: .5rem;
  border-radius: .5rem;
  background: var(--shadow);
}

p {
  padding: .5rem;
  border-radius: .5rem;
  background: var(--shadow);
}

a {
  color: var(--accent-color); 
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  opacity: .75;
}

button {
  font-size: 1rem;
  background-image: linear-gradient(to bottom, var(--secondary-color), var(--light-color));
  border: .13rem solid var(--primary-color);
  color: var(--primary-color);
  border-radius: .5rem;
  cursor: pointer;
}

button:hover {
background-image: linear-gradient(to top, var(--secondary-color), var(--light-color));
}

#message {
  background-image: linear-gradient(to right, var(--secondary-color), var(--transparent));
  font-family: var(--accent-font);
  margin: -.3rem;
}